<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.repository.ToDoMapper">

  <!-- 全件検索 -->
  <select id="selectAll" resultType="com.example.todo.entity.ToDo">
    select
      id,
      todo,
      detail,
      created_at as createdAt,
      updated_at as updatedAt
    from
      todos
  </select>
  
  <!-- 1件検索 -->
  <select id="selectById" resultType="com.example.todo.entity.ToDo">
    select
      id,
      todo,
      detail,
      created_at as createdAt,
      updated_at as updatedAt
    from
      todos
    where
      id = #{id}
  </select>
  
  <!-- 登録 -->
  <insert id="insert">
    insert into
      todos( todo, detail, created_at, updated_at )
      values( #{todo}, #{detail}, current_timestamp, current_timestamp )
  </insert>

  <!-- 更新 -->
  <update id="update">
    update todos set
      todo = #{todo},
      detail = #{detail},
      updated_at = current_timestamp
    where
      id = #{id}
  </update>
  
  <!-- 削除 -->
  <delete id="delete">
    delete from
      todos
    where
      id = #{id}
  </delete>

</mapper>
